@charset "utf-8";
/* CSS Document */

/******************** GENERAL *************************/

body {
	color: #eee;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
  }
  
  a,
  a:visited {
	color: #ccc;
  }
  
  a:hover,
  a:active {
	color: #08f;
  }
  

svg {
	position: absolute;
}

.gratBackground {
  fill: #D5E3FF;
}

.gratLines {
  fill: none;
  stroke: #999;
  stroke-width: 1px;
}

.map {
	border: medium solid #999;
}

.countries {
  fill: #fff;
  stroke: #ccc;
  stroke-width: 2px;
}

.regions {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
  stroke-linecap: round;
}

.dropdown {
	margin-left: 980px;
}

.infolabel {
	position: absolute;
	width: 200px;
	height: 50px;
	color: #fff;
	background-color: #000;
	border: solid thin #fff;
	padding: 5px;
}

.infolabel h1 {
	margin: 0;
	padding: 0;
	display: inline-block;
	line-height: 1em;
}

.infolabel b {
	float: left;
}

.labelname {
	display: inline-block;
	margin: -25px 0 0px 40px;
	font-size: 1em;
	font-weight: bold;
	position: absolute;
}

/******************** HEADER *************************/

#about-link {
	float: right;
	font-weight: 300;
	margin-right: 20px;
	cursor: pointer; 
  }
  
#legend-mobile {
	display: none;
	float: right;
	font-weight: 300;
	margin-right: 20px;
	cursor: pointer;
}
  
#header {
	background: #004400bd;
	color: #eee;
	height: 50px;
	line-height: 50px;
	position: absolute;
	width: 100%;
	z-index: 1000000;
}

#title {
	float: left;
	font-weight: 300;
	margin-left: 20px;
	font-size: 24px;
}

/******************** ABOUT *************************/

#about {
	display: none;
	position: absolute;
	z-index: 20202020;
	background: #004400bd;
	width: 100%;
	height: 100%;
	overflow:auto;
}
  
#about-close {
	border: 1px solid #eee;
	position: fixed;
	margin-top: 20px;
	margin-right: 20px;
	float: right;
	width: 38px;
	height: 38px;
	border-radius: 19px;
	background: url('../assets/close.svg') center center no-repeat;
	cursor: pointer;
	opacity: 0.6;
	font-size: 13px;
}
  
#about-close:hover {
	opacity: 0.9;
}
  
#about-content {
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	max-width: 570px;
	padding: 10px;
}
  
#about-credits {
	font-size: 13px;
	line-height: 20px;
}
  
#about-header {
	font-weight: 400;
	font-size: 24px;
	color: #ccc;
}
  
#about-map-button:hover {
	background: #0cf;
}
  
#about-text {
	font-size: 12px;
	line-height: 16px;
	color: #ccc;
}